:root {
  --bg-body: #F9F8FD;
  --bg-main-color: #fff;
  --bg-accent-color: #EAF2F5;
  --text-color: #22253B;
  --accent-color: #F15525;
  --minor-accent-color: #8E8E8E;
  --btn-accent-color: #38BFF2;
  --card-bg-color: #EAF2F5
}

* {
  margin: 0;
  padding: 0;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  background-color: var(--bg-body);
  padding: 1.5rem 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.swiper-button-next,
.swiper-button-prev {
  background: url('../sprites/icons/arrow-left.svg') no-repeat center center;
  position: absolute;
  top: 50%;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: background-color .25s, background-image .25s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-image: url('../sprites//icons/arrow-left-white.svg');
  background-color: var(--accent-color);
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
  transform: rotate(180deg);
}

.swiper-button-disabled {
  display: none;
}

@media (width <=920px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}