.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 17px;
    height: 14px;
    cursor: pointer;
}

.topLine, .middleLine, .bottomLine {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    transition: transform .25s, opacity .25s;
}

.topLineOpen {
    transform: rotate(45deg) translate(3px, 5px);
}

.middleLineOpen {
    opacity: 0;
}

.bottomLineOpen {
    transform: rotate(-45deg) translate(3px, -5px);
}